<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
pipe to double: {{7 | double}}
pipe to upper: {{"hey" | uc}}
person {{.Name}}
likes to gamble {{.Gamble}}
and do math {{7 | double | .Square}}
</body>
</html>