<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
</head>
<body>
{{/*add the header here*/}}
{{template "Header" .Name}}
<main>
    The main content
</main>
{{template "Footer"}}
</body>
</html>