<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
<p>
    {{/* It must have the $ */}}
    {{$wisdom := .}}
    <p>The meaning of life is {{$wisdom}}</p>
</p>
</body>
</html>